In [3]:
class Cars: 
    
    def __init__(self, name,cilinder,power,mspeed,price,consumption=None,aceleration=None):
        self.name=name
        self.cilinder=cilinder
        self.power=power
        self.mspeed=mspeed
        self.price=price
        
class Audi(Cars): 
    consumption="" 
    
    def __str__(self):
        return"""
        NAME \t\t\t {}
        CILINDER(cc)\t\t {}
        POWER(CV)\t\t {}
        MSPEED (KM/H)\t\t {}
        PRICE(€)\t\t {}""".format(self.name,self.cilinder,self.power, self.mspeed,self.price)
    
Au=Audi("Audi TT RS", 2480,400,250,81560 )
Au.consumption=11,3
print(Au)

class Honda(Cars): 
    consumption="" 
    
    def __str__(self):
        return"""
        NAME \t\t\t {}
        CILINDER(cc)\t\t {}
        POWER(CV)\t\t {}
        MSPEED (KM/H)\t\t {}
        CONSUMPTION(L/100Km)\t{}
        PRICE(€)\t\t {}""".format(self.name,self.cilinder,self.power, self.mspeed,self.consumption,self.price)
    
Ho=Honda("Honda civic type R", 1996,400,270,34900 )
Ho.consumption=9.4
print(Ho)

class Bmw(Cars): 
    consumption="" 
    aceleration=""
    
    def __str__(self):
        return"""
        NAME \t\t\t {}
        CILINDER(cc)\t\t {}
        POWER(CV)\t\t {}
        MSPEED (KM/H)\t\t {}
        CONSUMPTION(L/100Km)\t{}
        PRICE(€)\t\t{}
        ACELERATION(s/100m)\t{}""".format(self.name,self.cilinder,self.power, self.mspeed,self.consumption,self.price,self.aceleration)
    
Bm=Bmw("Bmw series 5", 2993,400,250,103300 )
Bm.consumption=6.6
Bm.aceleration=4.4

print(Bm)

        NAME 			 Audi TT RS
        CILINDER(cc)		 2480
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        PRICE(€)		 81560

        NAME 			 Honda civic type R
        CILINDER(cc)		 1996
        POWER(CV)		 400
        MSPEED (KM/H)		 270
        CONSUMPTION(L/100Km)	9.4
        PRICE(€)		 34900

        NAME 			 Bmw series 5
        CILINDER(cc)		 2993
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        CONSUMPTION(L/100Km)	6.6
        PRICE(€)		103300
        ACELERATION(s/100m)	4.4

In [4]:
Cars=[Au, Ho]
Cars.append(Bm)
Cars

[<__main__.Audi at 0x52f7c50>,
 <__main__.Honda at 0x52f7c88>,
 <__main__.Bmw at 0x52f7d30>]

In [5]:
str(Cars)

'[<__main__.Audi object at 0x00000000052F7C50>, <__main__.Honda object at 0x00000000052F7C88>, <__main__.Bmw object at 0x00000000052F7D30>]'

In [6]:
for c in Cars:
    print(c)

        NAME 			 Audi TT RS
        CILINDER(cc)		 2480
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        PRICE(€)		 81560

        NAME 			 Honda civic type R
        CILINDER(cc)		 1996
        POWER(CV)		 400
        MSPEED (KM/H)		 270
        CONSUMPTION(L/100Km)	9.4
        PRICE(€)		 34900

        NAME 			 Bmw series 5
        CILINDER(cc)		 2993
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        CONSUMPTION(L/100Km)	6.6
        PRICE(€)		103300
        ACELERATION(s/100m)	4.4

In [7]:
for c in Cars: 
    print(c.mspeed)

250
270
250

In [8]:
#error due to dedicated atribute

In [9]:
for c in Cars: 
    print(c.aceleration)

AttributeError: 'Audi' object has no attribute 'aceleration'

In [10]:
#but there is a specific fucntion for solving this problem

In [11]:
for c in Cars: 
    if (isinstance(c, Audi)): 
        print(c.name,c.price)
    elif (isinstance(c, Honda)):
        print(c.name,c.consumption)
    elif (isinstance(c, Bmw)): 
        print(c.name,c.aceleration)

Audi TT RS 81560
Honda civic type R 9.4
Bmw series 5 4.4

In [12]:
# funtions for making transformations

In [13]:
c

In [14]:
def sales_cars(c, sale):
    # for blackfriday the cars are 10% less 
    
    c.price=c.price-((c.price/100)*sale)
    return c

Au_cars=sales_cars(Au, 10)
Au_cars2=sales_cars(Ho,15)
print(Au_cars)
print(Au_cars2)

        NAME 			 Audi TT RS
        CILINDER(cc)		 2480
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        PRICE(€)		 73404.0

        NAME 			 Honda civic type R
        CILINDER(cc)		 1996
        POWER(CV)		 400
        MSPEED (KM/H)		 270
        CONSUMPTION(L/100Km)	9.4
        PRICE(€)		 29665.0

In [17]:
print(Au,"\n", Ho)

        NAME 			 Audi TT RS
        CILINDER(cc)		 2480
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        PRICE(€)		 73404.0

        NAME 			 Honda civic type R
        CILINDER(cc)		 1996
        POWER(CV)		 400
        MSPEED (KM/H)		 270
        CONSUMPTION(L/100Km)	9.4
        PRICE(€)		 29665.0

In [ ]:
# The original version is changed!!

In [18]:
#for avoiding that use function copy

In [19]:
import copy 

Bmw_copy=copy.copy(Bm)

In [20]:
def sales_cars(c, sale):
    # for blackfriday the cars are 10% less 
    
    c.price=c.price-((c.price/100)*sale)
    return c

Bm_cars=sales_cars(Bmw_copy, 10)
print(Bm_cars)
print(Bm)

        NAME 			 Bmw series 5
        CILINDER(cc)		 2993
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        CONSUMPTION(L/100Km)	6.6
        PRICE(€)		92970.0
        ACELERATION(s/100m)	4.4

        NAME 			 Bmw series 5
        CILINDER(cc)		 2993
        POWER(CV)		 400
        MSPEED (KM/H)		 250
        CONSUMPTION(L/100Km)	6.6
        PRICE(€)		103300
        ACELERATION(s/100m)	4.4