In [1]:
import pandas as pd

In [15]:
data=pd.read_excel("cereals/Cereal Data columns.xlsx")
data.head(20)

                   Cereal
0            Manufacturer
1                    Type
2                Calories
3                 Protein
4                     Fat
5                  Sodium
6           Dietary Fiber
7   Complex Carbohydrates
8                  Sugar
9           Display Shelf
10              Potassium
11    Vitamins & Minerals
12                 Weight

In [18]:
from collections import Counter

In [19]:
p="El tio pepito tenia una piedra"

In [22]:
Counter(p)

Counter({'E': 1,
         'l': 1,
         ' ': 5,
         't': 3,
         'i': 4,
         'o': 2,
         'p': 3,
         'e': 3,
         'n': 2,
         'a': 3,
         'u': 1,
         'd': 1,
         'r': 1})

In [27]:
a=p.split()

In [34]:
B=Counter(a)

In [36]:
B.most_common()

[('El', 1), ('tio', 1), ('pepito', 1), ('tenia', 1), ('una', 1), ('piedra', 1)]

In [37]:
l=[1,2,3,1,2,3,1,4,2]
c=Counter(l)

In [38]:
c

Counter({1: 3, 2: 3, 3: 2, 4: 1})

In [40]:
c.items()

dict_items([(1, 3), (2, 3), (3, 2), (4, 1)])

In [41]:
c.keys()

dict_keys([1, 2, 3, 4])

In [42]:
c.values()

dict_values([3, 3, 2, 1])

In [43]:
sum(c.values())

9

In [44]:
B.values()

dict_values([1, 1, 1, 1, 1, 1])

In [45]:
B.keys()

dict_keys(['El', 'tio', 'pepito', 'tenia', 'una', 'piedra'])

In [47]:
sum(B.values())

6